<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iua.agustinpereyra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/brand_cow_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/brand_cow_icon_round"
        android:supportsRtl="true"
        android:theme="@style/CattleTheme">
        
        <activity android:name=".view.welcomeviews.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.cattleviews.CattleListActivity"/>
        <activity android:name=".view.userviews.UserAccountActivity"/>
        <activity android:name=".view.settingsviews.SettingsActivity"/>
        <activity android:name=".view.helpviews.HelpActivity"/>
    </application>
</manifest>